# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: uniswap-v4-indexer
unordered_multichain_mode: true # When true, strict cross chain ordering of event processing will not be obeyed.
rollback_on_reorg: true
preload_handlers: true
contracts:
  - name: PoolManager
    handler: src/EventHandlers.ts
    events:
      - event: Initialize(bytes32 indexed id, address indexed currency0, address indexed currency1, uint24 fee, int24 tickSpacing, address hooks, uint160 sqrtPriceX96, int24 tick)
      - event: ModifyLiquidity(bytes32 indexed id, address indexed sender, int24 tickLower, int24 tickUpper, int256 liquidityDelta, bytes32 salt)
        field_selection: # Additional fields available to index to augment data
          transaction_fields:
            - 'hash'
            - 'from'
      - event: Swap(bytes32 indexed id, address indexed sender, int128 amount0, int128 amount1, uint160 sqrtPriceX96, uint128 liquidity, int24 tick, uint24 fee)
        field_selection: # Additional fields available to index to augment data
          transaction_fields:
            - 'hash'
            - 'from'
      - event: Donate(bytes32 indexed id, address indexed sender, uint256 amount0, uint256 amount1)
        field_selection:
          transaction_fields:
            - 'hash'
            - 'from'
networks:
  - id: 84532 # Base Sepolia
    start_block: 35329014
    contracts:
      - name: PoolManager
        address:
          - '0x05E73354cFDd6745C338b50BcFDfA3Aa6fA03408'
